<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/1e3be9b4ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="container p-4">
            <div id="opacity" class="p-3 rounded-4">
                <h1 class="text-uppercase text-center mb-3">To do list</h1>

                <div class="input-group mb-3">
                    <!-- 
                        Bonus 1: oltre al click sul pulsante, intercettare anche il tasto ENTER 
                        per aggiungere il todo alla lista.

                        Uso @keyup.enter="addTodoItem" per aggiungere il todo alla lista.
                    -->
                    <input type="text" class="form-control fw-bold" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default" placeholder="Cose da fare..."
                        v-model="newTodoItem.text" @keyup.enter="addTodoItem">
                    <button class="btn btn-primary" @click="addTodoItem()"><i class="fa-solid fa-plus"></i></button>
                </div>

                <div id="overfl">
                    <ul class="list-group">
                        <li class="list-group-item py-2 px-4 fw-bold d-flex align-items-center"
                            v-for="todoItem in todoList"
                            :class="todoItem.done ? 'text-decoration-line-through text-secondary' : ''">

                            <div class="flex-grow-1">
                                {{todoItem.text}}
                            </div>

                            <!-- 
                                MILESTONE 2
                                Visualizzare a fianco ad ogni item una “x”: cliccando su di essa, il todo viene rimosso dalla lista. 
                            -->
                            <button class="btn btn-link text-danger" @click="deleteTodoItem(todoItem.id)">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>